<!-- Nav bar Start -->
<nav class="navbar navbar-default container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
            <span><a href="#"> <i class="livicon" data-name="responsive-menu" data-size="25" data-loop="true" data-c="#757b87" data-hc="#ccc"></i>
            </a></span>
        </button>
        <a class="navbar-brand" href="#"><img src="images/logo.png" class="logo_position">
        </a>
    </div>
    <div class="collapse navbar-collapse" id="collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="frontends"> Home</a>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> Features</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Typography</a>
                    </li>
                    <li><a href="#">Advanced Features</a>
                    </li>
                    <li><a href="#">Grid System</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> Pages</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">About Us</a>
                    </li>
                    <li><a href="#">Timeline</a></li>
                    <li><a href="#">Price</a>
                    </li>
                    <li><a href="#">404 Error</a>
                    </li>
                    <li><a href="#">500 Error</a>
                    </li>
                    <li><a href="#">Login</a>
                    </li>
                    <li><a href="#">Register</a>
                    </li>
                    <li><a href="#">FAQ</a>
                    </li>
                    <li><a href="#"> Blank</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> Shop</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Products</a>
                    </li>
                    <li><a href="#">Single_Product</a>
                    </li>
                    <li><a href="#">Compare Products</a>
                    </li>
                    <li><a href="#">Categories</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> Portfolio</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Portfolio</a>
                    </li>
                    <li><a href="#">Portfolio Item</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> News</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">News</a>
                    </li>
                    <li><a href="#">News Item</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> Blog</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Blog</a>
                    </li>
                    <li><a href="#">Blog Item</a>
                    </li>
                </ul>
            </li>
            <li><a href="contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>
<!-- Nav bar End -->